*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
  background:#fafafa;
  padding:20px;
  color:#333;
}

/******************
   TOP BAR
*******************/

.topbar{
  background:#f8e7e4;

  border-radius:20px;

  padding:18px 24px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:28px;
}

.top-left,
.top-right,
.top-item,
.clock{
  display:flex;
  align-items:center;
  gap:10px;
}

.top-right{
  gap:24px;
}

.green-dot{
  width:12px;
  height:12px;

  border-radius:50%;

  background:#32d74b;
}

/*****************
   TABLE HEADER
******************/

.table-header{
  display:grid;

  grid-template-columns:
    80px
    120px
    120px
    1fr
    240px;

  align-items:center;

  padding:0 24px;

  margin-bottom:12px;

  color:#9a9a9a;

  font-size:14px;

  letter-spacing:0.5px;
}

/******************
   ORDER CARD
****************** */

.order-card{
  display:grid;

  grid-template-columns:
    80px
    120px
    120px
    1fr
    240px;

  align-items:center;

  background:white;

  border:1px solid #dddddd;

  border-radius:30px;

  padding:22px 24px;

  margin-bottom:18px;

  transition:0.3s ease;

  position:relative;
}

.order-card:hover{
  transform:translateY(-2px);
  box-shadow:0 4px 12px rgba(0,0,0,0.04);
}

/* *****************
   COLUMN STYLE
***************** */

.order-card > div{
  min-height:100px;

  display:flex;
  align-items:center;
}

/* เส้นคั่น */

.order-card > div:not(:last-child){
  border-right:1px solid #e3e3e3;

  padding-right:22px;
}

/*******************
   TEXT
**************** */

.table-col,
.order-col,
.time-col{
  font-size:30px;
}

.order-col{
  font-weight:500;
}

.time-col{
  color:#444;
}

/* ****************
   MENU
*****************/

.menu-col{
  display:flex;

  flex-direction:column;

  justify-content:center;

  gap:6px;

  padding-left:20px;
}

.menu-row{
  display:flex;

  align-items:center;

  gap:8px;

  font-size:20px;

  line-height:1.5;
}

.menu-row span:last-child{
  color:#444;
}

/**************
   BUTTON
**************** */

.status-col{
  display:flex;
  justify-content:center;
}

.status-btn{
  border:none;

  padding:16px 26px;

  border-radius:999px;

  font-size:18px;

  cursor:pointer;

  display:flex;
  align-items:center;
  justify-content:center;

  gap:10px;

  transition:0.3s ease;

  min-width:210px;
}

.status-btn:hover{
  transform:scale(1.02);
}

/* PREPARE */

.btn-prepare{
  background:#f0ebe6;

  color:#444;
}

/* PREPARING */

.btn-preparing{
  background:#d89b3f;

  color:white;
}

/* DONE */

.btn-done{
  background:#f7efeb;

  color:#333;
}

/* SEND OUT */

.btn-sendout{
  background:white;

  border:2px solid #e56c67;

  color:#e56c67;
}



/*
******** RESPONSIVE**********/

@media(max-width:1200px){

  .order-card,
  .table-header{

    grid-template-columns:
      70px
      100px
      100px
      1fr
      200px;
  }

  .status-btn{
    min-width:170px;
    font-size:16px;
  }

  .menu-row{
    font-size:17px;
  }

}

@media(max-width:900px){

  body{
    padding:14px;
  }

  .topbar{
    flex-direction:column;
    gap:14px;
    align-items:flex-start;
  }

  .order-card{
    grid-template-columns:1fr;

    gap:14px;
  }

  .order-card > div{
    border-right:none !important;

    min-height:auto;

    padding-right:0 !important;
  }

  .table-header{
    display:none;
  }

  .menu-col{
    padding-left:0;
  }

  .status-col{
    justify-content:flex-start;
  }
}

  .history-btn{
  border:none;

  background:white;

  padding:10px 18px;

  border-radius:999px;

  cursor:pointer;

  font-size:15px;

  transition:0.3s;
  }

.history-btn:hover{
  transform:scale(1.03);
}


/****************
   CHOOSE SERVER
**************/

.choose-container{
  display:flex;

  justify-content:center;

  gap:80px;

  margin-top:120px;
}

.server-card{
  text-align:center;

  cursor:pointer;

  transition:0.3s;
}

.server-card:hover{
  transform:translateY(-8px);
}

.avatar{
  width:180px;
  height:180px;

  border-radius:50%;

  background:#f7e9e7;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:90px;

  margin-bottom:20px;
}

.server-card h2{
  font-size:34px;

  font-weight:500;

  letter-spacing:1px;
}

/****************
   HISTORY STATUS
*****************/

.history-status{

  padding:14px 22px;

  border-radius:999px;

  font-size:16px;

  font-weight:600;

  min-width:170px;

  text-align:center;
}

/* FAILED */
.failed{
  background:#ffe3e3;

  color:#e03131;
}


/* IN PROCESS */

.inprocess{

  background:#fff4d6;

  color:#d48806;
}

/* DELIVERED */

.delivered{

  background:#d9f7be;

  color:#389e0d;
}

/* EMPTY HISTORY */

.empty-history{

  margin-top:120px;

  text-align:center;

  font-size:24px;

  color:#999;
}

.top-left{
  font-size: 10px;
  color: dimgray;
  
}